header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color:#ffffff;
    color: #777777;
    text-align: center;
    border-bottom: 3px solid #cccccc;
    height: 100px
}

#yourname {
    color: white;
    background-color: #4aaaa5;
    height: 100px;
    width: 250px;
    text-align: center;
    text: 0 auto;
    font-size: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: fixed;
    top: 0
}

.links {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    text-align: center;
    width: 330px;
    position: fixed;
}

#about {
    border-right: 1px solid #cccccc;
    width: 100px;
    float: left
}

#contact {
    float: left;
    border-right: 1px solid #cccccc;
    width: 100px;
}

#portfolio {
    float: left;
    width: 100px;
}

#about[type=hover] {
    cursor: pointer;
}

#about[type=hover]:hover {
    color: rgb(9, 95, 91);
}

#contact[type=hover] {
    cursor: pointer;
}

#contact[type=hover]:hover {
    color: rgb(9, 95, 91);
}

#about[type=hover] {
    cursor: pointer;
}

#portfolio[type=hover]:hover {
    color: rgb(9, 95, 91);
}

body {
    background-image: url(file:///C:/Users/The%20Avi%C3%B1as/Desktop/bootcamp/Homework/Basic-Portfolio/assets/images/dust_scratches/dust_scratches.png)
}
.container {
    position: absolute;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    background-color: #ffffff;
    padding: 20px 20px 20px 20px;
    margin-top: 150px;
    margin-left: 23%;
    margin-right: 23%;
    border-radius: 5px;
}

h1 {
    color: #4aaaa5;
    font-size: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 10px;
    padding-bottom: 30px;
    border-bottom: 2px solid #cccccc;
    margin-top: 0;
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid rgb(233, 228, 228); /* Gray border */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    width: 110px;
    font-size: 16px
}

/* When moving the mouse over the submit button, change color */
input[type=submit]:hover {
    background-color: rgb(151, 206, 203);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#666666;
    color: white;
    text-align: center;
    border-top: 7px solid #4aaaa5
}

a:link {
    color: gray;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: gray;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: gray;
    text-decoration: none;
}

/* selected link */
a:active {
    color: gray;
    text-decoration: none;
}

/* Small devices (landscape phones) */
@media only screen and (max-width: 480px) {
    #yourname {
        color: white;
        background-color: #4aaaa5;
        height: 100px;
        width: 480px;
        font-size: 32px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        top: 0;
        text-align: center;
        }
    
    header {
            position: fixed;
            left: 0;
            top: 0;
            background-color:#113533;
            color: #777777;
            border-bottom: 3px solid #cccccc;
            height: 100px;
            width: 480px;
        }
    
    .links {
            background-color: white;
            width: 480px;
            top: 80px;
            text-align: center;
            padding-left: 80px;
            border-bottom: 2px solid #cccccc;
            height: 50px;
            padding-top: 20px;
        }
    
    .container {
        position: absolute;
        color: #777777;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        font-size: 18px;
        background-color: #ffffff;
        padding: 20px 20px 20px 20px;
        margin-top: 180px;
        margin-left: 10px;
        margin-right: 15px;
        border-radius: 15px;
        width: 375px
    }
}

/* Medium devices (tablets) */
@media only screen and (min-width: 481px) {
    #yourname {
        left: 20px;
    }
    .links {
        right: 20px;
        top: 40px;
    }

.container {
    position: absolute;
    color: #777777;
    font-family: "sans-serif";
    font-size: 20px;
    line-height: 28px;
    background-color: #ffffff;
    padding: 20px 20px 20px 20px;
    margin-top: 150px;
    margin-left: 2%;
    margin-right: 2%;
    width: 87%
    }
}

/* // Large devices (desktops) */
@media only screen and (max-width: 780px) {
    .container {
        width: 85%;
    }
}
    
@media only screen and (min-width: 980px) {
    .container {
        width: 60%;
    }
}